<div class="row-fluid">
	<form id="frmLogin" class="form-horizontal">
		<div class="control-group">
			<label class="control-label" for="inputEmail">Email</label>
			<div class="controls">
				<input type="text" id="inputEmail" placeholder="Email" value="anderson@gmail.com">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputPassword">Senha</label>
			<div class="controls">
				<input type="password" id="inputPassword" placeholder="senha" value="a1">
			</div>
		</div>
		<div class="control-group">
			<div class="controls">				
				<button id="btnLogin" type="submit" class="btn btn-primary">Entrar</button>
				<button id="btnVer" type="button" class="btn">Está Autenticado</button>
				<button id="btnCadastrar" type="button" class="btn">Cadastrar</button>
				<button id="btnLogout" type="button" class="btn">Sair</button>
			</div>
		</div>
	</form>
</div>