<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Navegação</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="\">Redmine to Agile</a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul id="menu" class="nav navbar-nav">
      <li id="home" class="active"><a href="\">Home</a></li>
      <!-- <li id="cadastre-se" data-resource-shown="isNotLogged"><a href="#usuario">Cadastre-se</a></li> -->
      <!-- <li id="login" data-resource-shown="isNotLogged"><a href="#login">Login</a></li> -->
      <li id="sprints" data-resource-hidden="sprints"><a href="#sprints">Sprints</a></li>
      <li id="equipes" data-resource-hidden="equipes"><a href="#equipes">Equipes</a></li>
      <li id="import-usuarios" data-resource-hidden="import-usuarios"><a href="#import-usuarios">Importar Usuarios Redmine</a></li>
      <!-- <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Nav header</li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li> -->
    </ul>
    <!-- <ul class="nav navbar-nav navbar-right usuario-logado">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="caret"></span> <span class="glyphicon glyphicon-user"></span> <span id="user-name"></span></a>
        <ul class="dropdown-menu" role="menu" data-resource-hidden="isLogged">
          <li><a href="#" id="logout">Logout</a></li>
          <li><a href="#">Meus dados</a></li>
        </ul>
        <ul class="dropdown-menu" role="menu" data-resource-shown="isNotLogged">
          <li><a href="#login" id="login">Login</a></li>
          <li><a href="#usuario">Cadastre-se</a></li>
        </ul>
      </li>
    </ul> -->
  </div>
</div>
