<div class="container">
  <form id="frm-sprint">
    <div class="form-group">
      <label class="control-label" for="input-nome">Nome</label>
      <input type="text" class="form-control" id="input-nome" name="nome" placeholder="Nome" value="<%= nome %>">
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label" for="input-inicio">Início</label>
          <input type="date" class="form-control" id="input-inicio" name="inicio" value="<%= inicio %>" placeholder="Início" value="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label" for="input-fim">Fim</label>
          <input type="date" class="form-control" id="input-fim" name="fim" value="<%= fim %>" placeholder="Fim" value="">
        </div>
      </div>
    </div>
    
    <table class="table table-hover" id="tbl-chamados">
      <thead>
          <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Status</th>
            <th>Atribuído</th>
            <th>Componente</th>
            <th>Sistema</th>
            <th>Grupo</th>
            <th>Origem</th>
            <th>Serviço</th>
            <th>Estimado</th>
            <th>Hr lançada</th>
            <th>Hr usuario</th>
            <th>Dt lançamento</th>
          </tr>
        </thead>
        <tbody>
          <% lancamentos.forEach(function(lanc){ 
            lanc.issue.custom_fields.forEach(function(field) {
              switch (field.id) {
                case 19:
                  return lanc.issue.sistema = field.value;
                case 51:
                  return lanc.issue.grupo_cliente = field.value;
                case 52:
                  return lanc.issue.componente = field.value;
                case 53:
                  return lanc.issue.origem = field.value;
                case 58:
                  return lanc.issue.tipo_servico = field.value;
              }
            });
          %>
          <tr>
            <td>
              <a href="https://siacon.redmineup.com/issues/<%= lanc.issue.id%>" target="_blank">#<%= lanc.issue.id %></a>
            </td>
            <td><%= lanc.issue.subject %></td>
            <td><%= lanc.issue.status ? lanc.issue.status.name : "" %></td>
            <td><%= lanc.issue.assigned_to ? lanc.issue.assigned_to.name : "" %></td>
            <td><%= lanc.issue.componente %></td>
            <td><%= lanc.issue.sistema %></td>
            <td><%= lanc.issue.grupo_cliente %></td>
            <td><%= lanc.issue.origem %></td>
            <td><%= lanc.issue.tipo_servico %></td>
            <td><%= lanc.issue.estimated_hours ? lanc.issue.estimated_hours.toLocaleString().replace(".", ",") : "" %></td>
            <td><%= lanc.hours ? lanc.hours.toLocaleString().replace(".", ",") : "" %></td>
            <td><%= lanc.user ? lanc.user.name : "" %></td>
            <td><%= lanc.spent_on ? lanc.spent_on : "" %></td>
          </tr>
          <% }); %>
        </tbody>
    </table>
    <button id="btn-salvar" type="submit" class="btn btn-primary">Salvar</button>
    <a type="button" class="btn btn-default" href="#sprints">Cancelar</a>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#grafico-modal">Hora x Origem</button>

    <!-- Modal -->
    <div class="modal fade" id="grafico-modal" tabindex="-1" role="dialog" aria-labelledby="grafico-modal-label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="grafico-modal-label">Hora x Origem</h4>
          </div>
          <div class="modal-body">
            <canvas id="chart-area" width="400" height="400"></canvas>
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary active">
                <input type="radio" class="radio-grafico" name="tipo-grafico" id="btn-hora-origem" autocomplete="off" value="origem" checked>Hora X Origem
              </label>
              <label class="btn btn-primary">
                <input type="radio" class="radio-grafico" name="tipo-grafico" id="btn-hora-grupo-cliente" autocomplete="off" value="grupo_cliente">Hora X Grupo Cliente
              </label>
              <label class="btn btn-primary">
                <input type="radio" class="radio-grafico" name="tipo-grafico" id="btn-hora-tipo-servico" autocomplete="off" value="tipo_servico">Hora X Tipo Serviço
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>