<div class="container">
  <form id="frm-sprint">
    <div class="form-group">
      <label class="col-sm-2 control-label" for="input-nome">Nome *</label>
      <input type="text" class="form-control" id="input-nome" name="nome" placeholder="Nome" value="">
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="input-inicio">Início *</label>
      <input type="text" class="form-control" id="input-inicio" name="inicio" placeholder="Início" value="">
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="input-fim">Fim *</label>
      <input type="text" class="form-control" id="input-fim" name="fim" placeholder="Fim" value="">
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">        
        <button id="btn-salvar" type="submit" class="btn btn-primary">Cadastrar</button>
        <a type="button" class="btn" href="#/sprints">Cancelar</a>
      </div>
    </div>
  </form>
</div>