<div class="container">
  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Início</th>
          <th>Fim</th>
          <th>Equipe</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(sprints, function(sprint) { %>
        <tr>
          <td><%= sprint.nome %></td>
          <td><%= sprint.inicio %></td>
          <td><%= sprint.fim %></td>
          <td><%= sprint.equipeID.nome %></td>
          <td>
            <a class="btn btn-mini btn-primary" href="#/sprint/<%= sprint._id %>">Editar</a>
            <a class="btn btn-mini btn-danger btn-delete" data-id="<%= sprint._id %>">Del</a>
            <a class="btn btn-mini btn-default btn-result" href="#/sprint/result/<%= sprint._id %>">Result</a>
          </td>
        </tr>
        <%})%>
      </tbody>    
    </table>
    <a class="btn btn-default" href="#sprint">Novo</a>
  </div>
</div>